apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "danube-core.broker.config" . }}
  labels:
    {{- include "danube-core.labels" . | nindent 4 }}
    app.kubernetes.io/component: broker
data:
  danube_broker.yml: |
{{- if .Values.broker.configFileOverride }}
{{ tpl .Values.broker.configFileOverride . | nindent 4 }}
{{- else }}
    cluster_name: '{{ .Values.global.clusterName }}'
    broker:
      host: '{{ .Values.broker.config.broker.host }}'
      ports:
        client: {{ .Values.broker.ports.client }}
        admin: {{ .Values.broker.ports.admin }}
        prometheus: {{ .Values.broker.ports.prometheus }}
    meta_store:
      host: '{{ default (include "danube-core.etcd.name" .) .Values.broker.config.meta_store.host }}'
      port: {{ .Values.broker.config.meta_store.port }}
    bootstrap_namespaces:
{{ toYaml .Values.broker.config.bootstrap_namespaces | nindent 6 }}
    auto_create_topics: {{ .Values.broker.config.auto_create_topics }}
    auth:
{{ toYaml .Values.broker.config.auth | nindent 6 }}
    load_manager:
{{ toYaml .Values.broker.config.load_manager | nindent 6 }}
    wal_cloud:
      wal:
{{ toYaml .Values.broker.config.wal_cloud.wal | nindent 8 }}
      uploader:
{{ toYaml .Values.broker.config.wal_cloud.uploader | nindent 8 }}
      cloud:
{{ toYaml .Values.broker.config.wal_cloud.cloud | nindent 8 }}
      metadata:
        etcd_endpoint: '{{ default (include "danube-core.etcd.address" .) .Values.broker.config.wal_cloud.metadata.etcd_endpoint }}'
        in_memory: {{ .Values.broker.config.wal_cloud.metadata.in_memory }}
    policies:
{{ toYaml .Values.broker.config.policies | nindent 6 }}
{{- end }}
